  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        Minder
      </a>
      <a href="/" class="item">Dashboard</a>
      <a href="/customers" class="item">Customers</a>
      <a href="/reminder" class="item">Reminder</a>
      <div class="right menu">
         <a href="#" class="item">
         <a href="#" class="item">Log Out</a>
      </div>
    </div>
  </div>
